**/__pycache__/
**/.ipynb_checkpoints/
**/.idea/*
**/.pytest_cache/
**/.DS_Store
**/weights/*
/reference/*
/backup/*
**/nohup.out
**/temp.py
/data/logs/*
/data/*.zip
**/data/VOC*/*
**/data/chess_voc/*
**/data/cache/*
**/tools/demo.jpg

